.App{
  display: flex;
  flex-direction: column;
}
.AppHeader{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: rgba(0,0, 0, 0.5) solid 1px;
}
.AppFooter{
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: rgba(0,0, 0, 0.5) solid 1px;
}
.SlidebarContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.015);
}
.AppSlideBar{
  height: 100%;
}

.AppSlideBarVertical{
  height: 100%;
}

.PageContent{
  padding-left: 12px;
}